html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.intro {
    margin-top: 10%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /*width: 100%;*/
    /*height: 100%;*/
}

.legendform {
    margin-top: 70px;
}

.navbar-header .label {
    color: black;
    font-size: 15px;
    /*float: left;*/
    width: 150px;
}

input[type=range].input {
    float: left;
    width: 150px;
}



#map-canvas {
    margin: 0 auto;
    /*margin-top: 40px;*/
    width: 90%;
    height: 65%;
}
