html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.intro {
    /*margin-top: 10%;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*width: 100%;*/
    height: 100%;
    display: table;
    width: 100%;
    /*height: auto;*/
    padding: 250px 0 0 0;
    text-align: center;
    color: #fff;
    background: url(/coalmap/img/solar-1.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.brand-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 70px;
  text-shadow: 10px 10px 10px black;
}
.intro-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
  text-shadow: 5px 5px 5px black;
}

.intro .btn-default{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFF;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  text-shadow: 5px 5px 2px black;
}
.intro .btn-default:hover,
.intro .btn-default:focus{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFF;
    font-size: 30px;
    border-radius: 10px;
  text-shadow: 5px 5px 2px black;
}


.sectioninfo {
    text-align: center;
    margin-top: 110px;
    font-size: 20px;
}

.plantspan {
    float: left;
    width: 50px;
    text-align: right;
    font-weight: bold;
}
.plantimg {
    float: left;
    height: 30px;
    width: 20px;
}
.plantdes {
    float: left;
    width: 180px;
    text-align: left;
}

.navbar-header {
    margin-top: 20px;
}
.navbar-header .label {
    text-align: left;
    color: black;
    font-size: 15px;
    float: left;
    width: 170px;
}

input[type=range].input {
    float: left;
    width: 150px;
}

.output {
    float: left;
    font-size: 15px;
    width: 40px;
}
.formbutton {
    float: left;
}



.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;
    
}
.page-gap {
    height: 150px;
}



#map-canvas {
    margin: 0 auto;
    /*margin-top: 40px;*/
    width: 85%;
    height: 65%;
}
#chart_div {
    margin: 0 auto;
    width: 85%;
    height: 65%;
}