html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

body.solarbg {
    background: url(/coalmap/img/solar-dim.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section a {
    color: yellow;
}

.section a:hover, .section a:visited, .section a:active {
    color: #D1D100;
}

b, strong {
    font-weight: 500;
}



.intro {
    /*margin-top: 10%;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*width: 100%;*/
    height: 100%;
    display: table;
    width: 100%;
    /*height: auto;*/
    padding: 150px 0 0 0;
    text-align: center;
    color: #fff;
    /*background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.brand-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 70px;
  text-shadow: 10px 10px 10px black;
}
.intro-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

.intro .btn-default{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFF;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  text-shadow: 5px 5px 2px black;
}
.intro .btn-default:hover,
.intro .btn-default:focus{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFF;
    font-size: 30px;
    border-radius: 10px;
  text-shadow: 5px 5px 2px black;
}


.section {
    min-height: 100%;
    margin: 70px auto;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.sectiontitle {
    font-weight: 500;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sectioncontent {
    font-weight: 300;
    font-size: 28px;
    text-shadow: 2px 2px 2px black;
    color: white;
}



.sectioninfo {
    text-align: center;
    padding-top: 120px;
    font-size: 20px;
}

.equation {
    font-size: 20px;
}




.plantspan {
    float: left;
    width: 50px;
    text-align: right;
    font-weight: bold;
}
.plantimg {
    float: left;
    height: 30px;
    width: 30px;
}
.plantdes {
    float: left;
    width: 180px;
    text-align: left;
}

.navbar-header {
    margin-top: 20px;
}
.navbar-header .label {
    text-align: left;
    color: black;
    font-size: 15px;
    float: left;
    width: 170px;
}



.output {
    float: left;
    font-size: 15px;
    width: 40px;
}
.formbutton {
    float: left;
}


/*These should merge with .map-content*/
.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;

}
.page-gap {
    height: 150px;
}


/*Map canvas*/
#map-canvas {
    margin: 0 auto;
    /*margin-top: 40px;*/
    width: 100%;
    height: 70%;
}
.map-content {
    font-size: 20px;
    text-align: center;
}
.map-content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;
}
#map-side h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
}



/*for inner map style*/
#map-legend {
    text-align: left;
    padding-right: 10px;
}

#legend-text {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.marker-info {
    text-align: left;
}




.coal-charts {
    margin: 0 auto;
    width: 100%;
    height: 70%;
}
